   <configuration>
        <system.webServer>
           <staticContent>
	      <mimeMap fileExtension=".json" mimeType="application/json; charset=UTF-8" />
	      <mimeMap fileExtension=".unityweb" mimeType="application/octet-stream" />
           </staticContent>
        </system.webServer> 
     </configuration>